<h1 class="mb-4">Chats</h1>

<table class="table table-striped table-hover shadow-sm">
  <thead class="table-info">
    <tr>
      <th>Remitente</th>
      <th>Destinatario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.sender_id %></td>
        <td><%= chat.receiver_id %></td>
        <td>
          <%= link_to "Ver", chat_path(chat), class: "btn btn-sm btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add new chat", new_chat_path, class: "btn btn-success mb-3" %>
