<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-success text-white">
      <h3>Chat Details</h3>
    </div>
    <div class="card-body">
      <p><strong>Sender ID:</strong> <%= @chat.sender_id %></p>
      <p><strong>Receiver ID:</strong> <%= @chat.receiver_id %></p>
    </div>
    <div class="card-footer">
      <%= link_to "Back", chats_path, class: "btn btn-outline-success" %>
      <%= link_to "Editar", edit_chat_path(@chat), class: "btn btn-success ms-2" %>

    </div>
  </div>
</div>
